.small .as-oil__btn-optin {
  font-size: 19px;
  font-weight: bold;
  text-transform: uppercase;
  background-color: #2eb8ff;
  min-width: 160px;
  min-height: 42px;
}

.as-oil__btn-optin::after {
  font-family: FontAwesome;
  font-weight: bold;
  content: '\f05d';
}

.small .as-oil-l-row {
  min-width: 20%;
  margin: 0;
}

.as-oil__intro-txt {
  color: #ffffff;
  font-size: 19px;
}

.as-oil__intro-txt a {
  color: #ffffff;
  text-decoration: underline;
}

.small .as-oil-content-overlay {
  background-color: rgba(71, 81, 84, .95);
  padding: 1.2rem !important
}

@media (max-width: 1023px) and (min-width: 601px) {
  .small .as-oil-l-row {
    min-width: 100%;
  }

  .small .as-oil__intro-txt {
    margin-bottom: .5rem;
  }
}
