{
  "presets": [
    "es2015"
  ],
  "plugins": [
    "es6-promise",
    "transform-es2015-arrow-functions",
    "transform-es2015-classes",
    "transform-es2015-destructuring",
    "transform-es2015-modules-commonjs",
    "transform-es2015-object-super",
    "transform-class-properties",
    "transform-es3-member-expression-literals",
    "transform-es3-property-literals"
  ]
}
