.DS_Store
.idea/
.tern-project
.awcache/
dist/
node_modules/
reports/browserstack-reports/
reports/*.html
test/e2e/.awcache/
test/e2e/dist/
test/e2e/node_modules/
test/e2e/target/
typings/
target/
*.log
*.tgz
*.iml
oil-michiel.sublime-project
oil-michiel.sublime-workspace
