<div id="soft-blocking-img" class="widget-section">
  <h1 class="display-6">Soft Blocking of <code>&lt;img&gt;</code> tags</h1>
  <div class="row">
    <div class="col">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">Example code for a managed <code>&lt;img&gt;</code> tag:</h5>
          <pre class="card-text">
    &lt;img data-managed="as-oil"
         data-src="simpleImage.png"
         data-title="Simple Image"
         data-display="block"
         data-purposes="1"
         alt="A simple image"
         height="50"
         width="50"
         id="imgId"
         class="imgClass"
         style="border: 1px solid #ddd; border-radius: 10px;"&gt;
          </pre>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">Try it out!</h5>
          <p class="card-text">If OIL layer is currently shown, click 'OK' to give consent. Otherwise, click the 'Reset' button!</p>
          <button id="softBlockingImgResetButton" type="button" class="btn btn-primary">Reset</button>
          <hr/>
          <div id="soft-blocking-img-no-consent">
            <p class="card-text">Consent for purpose 1 is not given (yet). <code>&lt;img&gt;</code> tag is (still) deactivated:</p>
            <pre class="card-text" style="background-color: lightgrey">
    &lt;img data-managed="as-oil"
         data-src="simpleImage.png"
         data-title="Simple Image"
         data-display="block"
         data-purposes="1"
         alt="A simple image"
         height="50"
         width="50"
         id="imgId"
         class="imgClass"
         style="border: 1px solid #ddd; border-radius: 10px;"&gt;
            </pre>
          </div>
          <div id="soft-blocking-img-consent">
            <p class="card-text">Consent is given. <code>&lt;img&gt;</code> tag is now activated and image is shown:</p>
            <pre class="card-text" style="background-color: lightgrey">
    &lt;img data-managed="as-oil"
         data-src="simpleImage.png"
         data-title="Simple Image"
         data-display="block"
         data-purposes="1"
         <span style="background-color:blue; color:white">src="simpleImage.png"</span>
         alt="A simple image"
         height="50"
         width="50"
         id="imgId"
         class="imgClass"
         style="border: 1px solid #ddd; border-radius: 10px;<span style="background-color:blue; color:white">display:block</span>"&gt;
            </pre>
          </div><br/>
          <img data-managed="as-oil"
               data-src="/assets/images/landing_page/logo.png"
               data-title="Simple Image"
               data-display="block"
               data-purposes="1"
               alt="A simple image"
               height="75"
               width="75"
               id="imgId"
               class="imgClass"
               style="border: 1px solid #ddd; border-radius: 10px;">
        </div>
      </div>
    </div>
  </div>
</div>
<script type="text/javascript">
  function switchSoftBlockingImgElements() {
    const cookie = AS_OIL.status();
    if (cookie.opt_in && cookie.consentData.getPurposesAllowed().indexOf(1) !== -1) {
      $('#soft-blocking-img-no-consent').css('display: none');
      $('#soft-blocking-img-consent').css('display: block');
    } else {
      $('#soft-blocking-img-no-consent').css('display: block');
      $('#soft-blocking-img-consent').css('display: none');
    }
  }

  function resetOilAndSwitchSoftBlockingImgElements() {
    AS_OIL.triggerOptOut();
    AS_OIL.reload();
    switchSoftBlockingImgElements();
  }

  function configureSoftBlockingImgElements() {
    $('#softBlockingImgResetButton').on('click', () => resetOilAndSwitchSoftBlockingImgElements());
    switchSoftBlockingImgElements();
  }

  function handleOilMessageInSoftBlockingImgSection(event) {
    if (event && event.data && (eventDataContains(event, ['oil_optin_done', 'oil_has_optedin', 'oil_optout_done']))) {
      switchSoftBlockingImgElements();
    }
  }
</script>
