@import "./_settings";

$slider-size: 20px;
$slider-padding: 3px;

.as-oil-cpc__status {
  position: absolute;
  top: 5px;
  left: -($slider-size + 5);
  color: $btn-primary;
  font-weight: 500;
}

.as-oil-cpc__slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: $slider-background-grey;
  transition: .4s;
  border-radius: 17px;

  &:before {
    position: absolute;
    content: "";
    height: $slider-size;
    width: $slider-size;
    left: $slider-padding;
    bottom: $slider-padding;
    background-color: $slider-background-circle;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, .08);
    transition: .4s;
    border-radius: 50%;
  }
}

.as-oil-cpc__middle {
  flex: 1 1 auto;
  padding: 24px;
  display: inline-block;

  overflow: scroll;
  max-height: 500px; /* The Fallback */
  height: 30vh;

  @include media('<=phone') {
    padding: 0;
  }
}

.checkmark {
  display: inline-block;
  position: absolute;
}

.checkmark-on {
  &::after {
    border: solid #000;
    border-color: rgba(52, 140, 32, 0.6);
    border-width: 0 2px 2px 0;
    content: '';
    display: block;
    height: 12px;
    transform: rotate(45deg);
    width: 6px;
  }
}

.checkmark-off {
  height: 14px;
  width: 14px;

  &::before,
  &::after {
    background: rgba(255, 0, 0, 0.6);
    content: '';
    height: 2px;
    left: 0;
    margin-left: -3px;
    margin-top: 3px;
    position: absolute;
    top: 50%;
    width: 100%;
  }

  &::before {
    transform: rotate(45deg);
  }
  &::after {
    transform: rotate(-45deg);
  }
}

@mixin space-out($min, $max) {
  @for $i from $min through $max {
    &:first-child:nth-last-child(#{$i}),
    &:first-child:nth-last-child(#{$i}) ~ & {
      width: 1 / $i * 100%;
    }
  }
}
