// Define media queries,
// this must be set before media queries are imported
$breakpoints: (
  'phone': 600px,
  'desktop': 1024px
) !default;

// Import Media query library
// Pretty Nice!
@import "./node_modules/include-media/dist/_include-media.scss";

// Config Data
$text-color-primary-light: #262626;
$text-color-primary-dark: #f5f5f5;

$background-color-light: #f9f9f9;
$background-color-dark: #262626;

$btn-primary: rgb(63, 126, 223);
$btn-primary-text-color: #ffffff;

$btn-secondary: transparent;
$btn-secondary-text-color: #ffffff;

$slider-background-grey: #eaeaea;
$slider-background-circle: #767676;

$layout-max-width: 1280px;

$cpc-background-dark: #383737;


// Our Oil overlay needs to trump every other element, so we need the highest possible z-index
// Which is the following number: 2147483647 <-- for possible HACKS we go with a high number

$z-index-max: 2147483647;

// Font stack

$font-stack: "Helvetica Neue", Helvetica, Arial, sans-serif;
