@import "./_cpc_global";

.as-oil-center {
  text-align: center;
}

.as-oil-margin-top {
  margin-top: 1em;
}

.as-oil-cpc__tabs-headline {
  display: block;
  max-width: 100%;
  font-size: 1.45em;
  font-weight: 600;
  line-height: 1.15;
}

.as-oil-cpc-wrapper {

  hr {
    border: 0;
    border-top: 1px #d8d8d8 solid;
  }

  .as-oil-cpc__purpose-tab-labels {
    border-collapse: separate;
    border-spacing: 1px;
    display: table;
    width: 100%;

    span {
      border-radius: 5px;
      box-sizing: border-box;
      display: table-cell;
      font-size: 18px;
      font-weight: bold;
      height: 50px;
      overflow: hidden;
      padding: 5px auto;
      text-align: center;
      text-overflow: ellipsis;
      transition: all 0.3s ease-in-out;
      vertical-align: middle;
      white-space: nowrap;
      width: 25%;
      user-select: none;
      @media (max-width: 600px) {
        display: table-header-group;
        height: auto;
      }
    }
  }
  .as-oil-cpc__purpose-tab-text section {
    animation-direction: normal;
    animation-duration: 0.3s;
    animation-iteration-count: 1;
    animation-name: content;
    animation-timing-function: ease-in-out;
    display: none;
    line-height: 1.4;
    position: relative;

    &:first-child {
      display: block;
    }

    div {
      display: table;
      width: 100%;
    }

    p {
      display: table-cell;
      width: 80%;
    }
  }

}

.as-oil-cpc__purpose-feature-texts {
  display: table;
  ul {
    display: table-cell;
    list-style: none;
    width: 100%;
    li {
      list-style-position: inside;
      text-indent: -1.30em;
      span:nth-child(2) {
        margin-left: 1.3em;
      }
    }
  }
}

@keyframes content {
  from {
    opacity: 0;
    transform: translateY(5%);
  }

  to {
    opacity: 1;
    transform: translateY(0%);
  }
}

.as-oil-cpc__purpose-tab-label-active {
  background: rgba(52, 140, 32, 0.6);
  cursor: default;
  color: rgb(255, 255, 255);
}

.as-oil-cpc__purpose-tab-label-inactive {
  color: rgba(52, 140, 32, 0.6);
  background: rgba(0, 0, 0, 0.1);
  cursor: pointer;
}


.as-oil-cpc__third-parties-link {
  color: #000000;
  cursor: pointer;
  text-decoration: none;

  span {
    background: rgba(255, 0, 0, 0.6);
    border-radius: 50%;
    color: white;
    display: inline-block;
    font-weight: 700;
    height: 20px;
    line-height: 20px;
    margin-right: 0.5em;
    text-align: center;
    width: 20px;
  }
}

.as-oil-cpc__third-parties-list {
  margin-left: 1.7em;
  margin-top: 0.5em;
}

.as-oil-cpc__purpose-description {
  font-size: .7375em;
  font-weight: 400;
  line-height: 1.4;
}

.as-oil-cpc__tab-switch {
  display: table-cell;
  height: 26px;
  margin-left: 30px;
  position: absolute;
  width: 50px;

  input {
    display: none;
    &:checked ~ {
      .as-oil-cpc__slider {
        background-color: rgb(63, 126, 223);
      }
    }
    &:focus ~ .as-oil-cpc__slider {
      box-shadow: 0 0 1px rgb(63, 126, 223);
    }
    &:checked ~ .as-oil-cpc__slider::before {
      background-color: darken(#767676, 30%);
      transform: translateX(20px);
    }
  }
}

