
// Config
// TODO Move config to config CSS module

$text-color:      #fff;
$text-color-dark: #000;
$btn-primary:     rgb(30, 255, 125);
$btn-secondary:   transparent;

// Mixins

/**
 * Removes margins in stacked items,
 * margin-top is set to 0 for first item, margin-bottom is set to 0 for last item
 * <li>Foo</li>
 * <li>Bar</li>
 * <li>Baz</li>
 */

@mixin stack-items-remove-vertical-margins {
  &:first-of-type {
    margin-top: 0;
  }

  &:last-of-type {
    margin-top: 0;
  }
}

@mixin stack-items-remove-horizontal-margins {
  &:first-of-type {
    margin-left: 0;
  }

  &:last-of-type {
    margin-right: 0;
  }
}

/**
 * Adds font-smoothing for text
 *
 */

@mixin font-smoothing {
  -webkit-font-smoothing:  antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/**
 * Changes box model, default: border-box
 *
 */

 @mixin box-model($model: border-box) {
  &,
  & * {
    box-sizing: $model;

    &:before,
    &:after {
      box-sizing: $model;
    }
  }
 }

// TODO Remove later because we don't touch global namespace

body {
  margin: 0;
}

// Our OIL Overlay

.oil {
  @include box-model;
  @include font-smoothing;
  z-index: 100;
  position: fixed;
  bottom: 0;
  width: 100%;
  margin:  0;
  padding: 1rem;
  font-family: sans-serif;
  color: $text-color;
  background-color: rgba(40,40,40,0.95);
}

.oil__heading {
  margin: 1rem 0;
  font-size: 1rem;
  font-weight: bold;

  &:first-of-type {
    margin-top: 0;
  }
}

.oil__intro-text {
  margin: 1rem 0;
}

.oil__button {
  @include stack-items-remove-horizontal-margins;

  min-width: 100px;
  margin: 0.5rem;
  padding: 1rem;
  font-size: 0.8rem;
  color: $text-color;
  border: 1px solid rgba(255, 255, 255, 0.5);
  border-radius: 2px;
  outline: none;
  background-color: transparent;

  cursor: pointer;

  &:hover {
    background-color: rgba(40, 40, 40, 0.15);
  }

  &--primary {
    color: $text-color-dark;
    background-color: rgb(30, 255, 125);
    border-color: transparent;

    &:hover {
      background-color: darken(rgb(30, 255, 125), 10%);
    }
  }

  &--secondary {
    border-color: transparent;
  }
}

.optin-true {
  display: none;
}

.expanded-true {
  height: 300px;
}

.expanded-false {
  height: auto;
}




