/**
 * Define media queries,
 * this must be set before media queries are imported
 */

$breakpoints: (
  'phone': 580px,
  'tablet': 768px,
  'desktop': 1024px
) !default;

/**
 * Import Media query library
 * Pretty Nice!
 */

@import "./node_modules/include-media/dist/_include-media.scss";

/**
 * Config Data
 *
 */

$text-color-primary: #262626;
$background-color: #f8f8f8;

$btn-primary: rgb(63, 126, 223);
$btn-primary-text-color: #ffffff;

$btn-secondary: transparent;
$btn-secondary-text-color: #ffffff;

$layout-max-width: 1280px;

// Our Oil overlay needs to trump every other element, so we need the highest possible z-index
// Which is the following number: 2147483647 <-- for possible HACKS wie go with a high number

$z-index-max: 2147483647;

// Font stack

$font-stack: "Helvetica Neue", Helvetica, Arial, sans-serif;

/**
 * Mixins
 *
 */

/**
 * Removes margins in stacked items,
 * margin-top is set to 0 for first item, margin-bottom is set to 0 for last item
 * <li>Foo</li>
 * <li>Bar</li>
 * <li>Baz</li>
 */
@mixin stack-items-remove-vertical-margins {
  &:first-of-type {
    margin-left: 0;
  }

  &:last-of-type {
    margin-right: 0;
  }
}

@mixin stack-items-remove-horizontal-margins {
  &:first-of-type {
    margin-top: 0;
  }

  &:last-of-type {
    margin-bottom: 0;
  }
}

@mixin clearfix {
  &:after {
    content: "";
    display: table;
    clear: both;
  }
}

@mixin font-smoothing {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

@mixin box-model($model: border-box) {
  &, & * {
    box-sizing: $model;

    &:before,
    &:after {
      box-sizing: $model;
    }
  }
}

/**
 * Our OIL Overlay - Wraps all Oil content
 * HINT: Was no height! It's only the wrapper
 */
.as-oil {
  @include box-model;
  @include font-smoothing;
  position: fixed;
  z-index: $z-index-max;
  bottom: 0;
  left: 0;
  width: 100%;
  font-family: $font-stack;
  color: $text-color-primary;

  // Set font size here as a base for em units, which we'll use, cause' we don't know what base font-size size a host site will use
  font-size: 14px;

  a {
    cursor: pointer;;
  }
}

/**
 * Wraps all our Oil content, eg. text and buttons
 */

.as-oil-content-overlay {
  @include clearfix;
  position: absolute;
  width: 100%;
  bottom: 0;
  left: 0;
  padding: 2em 5em;
  background-color: $background-color;
  box-shadow: 0 -8px 20px 0 rgba(0, 0, 0, 0.2);

  @include media('<=phone') {
    padding: 1em;
  }

  @include media('>phone', '<desktop') {
    padding: 1.5em 3em;
  }
}

/**
 * Text Styles
 */
.as-oil__heading {
  max-width: 840px;
  margin: 0.5em 0;
  font-size: 1.7em;
  font-weight: 300;
  color: $text-color-primary;
  line-height: 1.15;

  &:first-of-type {
    margin-top: 0;
  }

  @include media('<=phone') {
    margin: 0.5em 0;
    font-size: 1em;
    line-height: 1.3333;
  }
}

.as-oil__intro-txt {
  display: inline-block;
  min-width: 75%;
  max-width: 75%;
  margin: 1em 0;
  font-size: 0.9375em;
  font-weight: 400;
  line-height: 1.4;
  color: $text-color-primary;

  @include media('<=phone') {
    margin: 0.5em 0;
    font-size: 0.75em;
  }
}

.as-oil__intro-txt--link {
  padding: 2px 2px 1px;
  margin: 0 2px;
  color: $text-color-primary;
  text-decoration: none;
  border-bottom: 1px solid;

  &:hover {
    color: darken($text-color-primary, 10%);
  }
}

/**
 * Button Styles
 */
@mixin btn-poi-soi-shared {
  min-width: 250px;
  min-height: 50px;
  margin: 0;
  padding: 0.5em 1em;
  font-size: 0.875em; // 14px
  font-weight: 400;
  border: none;
  border-radius: 3px;
  outline: none;
  cursor: pointer;

  @include media('<=phone') {
    width: 100%;
    min-width: auto;
    min-height: 40px;
    padding: 0;
    font-size: 0.8175em;
  }

  @include media('>phone', '<desktop') {
    min-width: 160px;
    min-height: 40px;
  }
}

@mixin btn-poi {
  color: $text-color-primary;
  background-color: $btn-primary;
  background-image: linear-gradient(35deg, $btn-primary, rgb(70, 200, 100));
  border-color: transparent;

  &:hover {
    background-color: darken($btn-primary, 8%);
    background-image: linear-gradient(35deg, darken($btn-primary, 8%), darken(rgb(70, 200, 100), 8%));
  }
}

@mixin btn-soi {
  color: $text-color-primary;
  border: 2px solid $btn-primary;
  background-color: transparent;
  box-shadow: 0 2px 15px 0 rgba(0, 0, 0, 0.5);

  &:hover {
    color: $text-color-primary;
    border-color: darken($btn-primary, 8%);
    background-color: transparent;
  }
}

// Power Optin Button Declaration

.as-oil__btn-poi {
  @include btn-poi-soi-shared;
  @include btn-poi;
}

// Site Optin Button Declaration

.as-oil__btn-soi {
  @include btn-poi-soi-shared;
  @include btn-soi;
}

// Later Optin Button Declaration

.as-oil__btn-loi {
  float: right;
  min-height: auto;
  margin: 0.75em 0;
  padding: 4px;
  font-size: 0.875em;
  font-weight: 400;
  color: $text-color-primary;
  text-decoration: none;
  background-color: transparent;
  border: none;
  border-bottom: 1px solid;
  border-radius: 0;
  cursor: pointer;

  &:hover {
    color: darken($text-color-primary, 10%);
    background-color: transparent;
  }

  @include media('<=phone') {
    float: none;
    width: 100%;
    margin: 1em 0; // We are vertically aligning this btn by using margins, which is a bit dirty
    font-size: 0.75em;
    border-bottom: none;
  }

  @include media('>phone', '<desktop') {
    // We are vertically aligning this btn by using margins, which is a bit dirty
    margin: 0.25em 0;
  }
}

.as-oil__btn-as {
  float: right;
  min-height: auto;
  margin: 0.75em 0;
  padding: 4px;
  font-size: 14px;
  font-weight: 400;
  color: $text-color-primary;
  text-decoration: none;
  background-color: transparent;
  border: none;
  border-bottom: 1px solid;
  border-radius: 0;
  cursor: pointer;

  &:hover {
    color: darken($text-color-primary, 10%);
    background-color: transparent;
  }

  @include media('<=phone') {
    float: none;
    width: 100%;
    margin: 1em 0; // We are vertically aligning this btn by using margins, which is a bit dirty
    font-size: 0.75em;
    border-bottom: none;
  }

  @include media('>phone', '<desktop') {
    // We are vertically aligning this btn by using margins, which is a bit dirty
    margin: 0.25em 0;
  }
}

/**
 * Later Optin Overlay LOI
 *
 */

// Text styles

.as-oil-loi__heading {
  margin: 1em 0;
  font-size: 1.25em;
  font-weight: 300;
  color: $text-color-primary;
  line-height: 1.1875;

  &:first-of-type {
    margin-top: 0;
  }

  @include media('<=phone') {
    margin: 0.625em 2.25em 0.625em 0; // Make space to the right for our absolute positioned close button
    font-size: 1.125em;
  }
}

.as-oil-loi__intro-txt {
  margin: 1rem 0;
  font-size: 0.875em;
  font-weight: 400;
  line-height: 1.4;
  color: $text-color-primary;

  &:first-of-type {
    margin-top: 0;
  }

  @include media('<=phone') {
    margin: 1.5rem 0;
    font-size: 0.75rem;
  }
}

/**
 * Button Styles
 *
 */

// Mixins

@mixin oil-loi-btn-poi-soi-shared {
  @include stack-items-remove-horizontal-margins;
  @include btn-poi-soi-shared;
  min-height: 40px;
  margin: 0.5em 0;
}

@mixin oil-loi-btn-poi {
  @include btn-poi;
}

@mixin oil-loi-btn-soi {
  @include btn-soi;
}

// Loi Power Optin Button Declaration

.as-oil-loi__btn-poi {
  @include oil-loi-btn-poi-soi-shared;
  @include btn-poi;
}

// Loi Site Optin Button Declaration

.as-oil-loi__btn-soi {
  @include oil-loi-btn-poi-soi-shared;
  @include btn-soi;
}

/**
 * Layout Stuff
 */
.as-oil-l-row {
  display: inline-block;
  margin: 1em 0;

  &:last-of-type {
    margin-bottom: 0;
  }

  @include media('<=phone') {
    display: block;
    width: 100%;
  }
}

.as-oil-l-row--fixed-width,
.as-oil-l-wrapper-layout-max-width {
  max-width: $layout-max-width;
  margin: 0 auto;

  @include media('>phone', '<desktop') {
    padding-right: 1em; // Make space for our absolute positioned close button
  }
}

.as-oil-l-item {
  float: left; // Fallback for non flexbox capable browsers
  margin: 0 0.5em;

  @supports (display: flex) {
    float: none;
  }

  &:first-of-type {
    margin-left: 0;
  }

  &:last-of-type {
    margin-right: 0;
  }

  @include media('<=phone') {
    @include stack-items-remove-horizontal-margins;
    width: 100%;
    margin: 1em 0;
  }
}

.as-oil-l-item--stretch {
  @supports (display: flex) {
    flex: 1 0 auto;
  }
}

/**
 * Close Button for later
 */
.as-oil-close {
  position: absolute;
  top: 1em;
  right: 1em;
  width: 1.5em;
  height: 1.5em;
  padding: 0.25em;
  fill: rgb(255, 255, 255);
  opacity: 0.66;
  cursor: pointer;
  user-select: none;

  &:hover {
    fill: $text-color-primary;
    opacity: 1;
  }
}

.as-oil-icon-close {
  display: block;
  width: 0.875em;
  height: 0.875em;
}

.as-slider-wrapper {
  display: inline-block;
  width: 20px;
  height: 150px;
  padding: 0;
}

/**
 * NoUiSlider CSS and overrides
 */
@import "../../node_modules/nouislider/distribute/nouislider.css";

.as-slider-wrapper {
  height: 180px;
  margin-top: 20px;
}

.as-slider-desc {
  margin-left: 20px;
}

.as-slider-option-title {
  font-size: 1.2em;
  font-weight: 400;
  line-height: 1.4;
  color: $text-color-primary;
}

.as-slider-option-verbose {
  font-size: 0.9375em;
  font-weight: 400;
  line-height: 1.4;
  color: $text-color-primary;
  margin-bottom: 20px;
}

.as-slider-inactive {
  opacity: 0.4;
}

.as-slider-active {
  opacity: 1.0;
}

