/**
 * Oil Prefix
 *
 * Define a prefix that will be used on all oil CSS classes to avoid naming conflicts
 * with external CSS libraries or declarations
 */

// Generate the right prefix for empty and non empty strings
// So for an empty prefix our CSS classes are .oil, otherwise our CSS classes will look
// like .prefix-oil

@function CSSPrefix($str) {
  @if $str == "" {
    @return #{$str};
  } @else {
    @return #{$str}-;
  }
}

// Set Oil CSS prefix here, the prefix has to be in sync with a Javascript file,
// see modal.js                                  ------------------------------
// ------------

$prefix: CSSPrefix("as");

/**
 * Define media queries,
 * this must be set before media queries are imported
 */

$breakpoints: (
  'phone': 580px,
  'tablet': 768px,
  'desktop': 1024px
) !default;

/**
 * Import Media query library
 * Pretty Nice!
 */

@import "./node_modules/include-media/dist/_include-media.scss";

/**
 * Config Data
 *
 */

$text-color-primary: rgba(255, 255, 255, 0.85);
$text-color-secondary: rgb(70, 200, 120);
$text-color-dark: rgb(43, 43, 43);
$btn-primary: rgb(50, 170, 100);
$btn-secondary: transparent;

$layout-max-width: 1280px;

// Our Oil overlay needs to trump every other element, so we need the highest possible z-index
// Which is the following number: 2147483647 <-- for possible HACKS wie go with a high number

$z-index-max: 2000000000;

// Font stack

$font-stack: "Helvetica Neue", Helvetica, Arial, sans-serif;

/**
 * Mixins
 *
 */

/**
 * Removes margins in stacked items,
 * margin-top is set to 0 for first item, margin-bottom is set to 0 for last item
 * <li>Foo</li>
 * <li>Bar</li>
 * <li>Baz</li>
 */

@mixin stack-items-remove-vertical-margins {
  &:first-of-type {
    margin-left: 0;
  }

  &:last-of-type {
    margin-right: 0;
  }
}

@mixin stack-items-remove-horizontal-margins {
  &:first-of-type {
    margin-top: 0;
  }

  &:last-of-type {
    margin-bottom: 0;
  }
}

/**
 * Clearfix
 *
 */

@mixin clearfix {
  &:after {
    content: "";
    display: table;
    clear: both;
  }
}

/**
 * Adds font-smoothing for text
 *
 */

@mixin font-smoothing {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/**
 * Changes box model, defaults to border-box
 *
 */

@mixin box-model($model: border-box) {
  &,
  & * {
    box-sizing: $model;

    &:before,
    &:after {
      box-sizing: $model;
    }
  }
}

/**
 * Utils
 *
 */

.no-break {
  white-space: nowrap;
}

/**
 * Our OIL Overlay
 * Wraps all Oil content
 *
 */

.#{$prefix}oil {
  @include box-model;
  @include font-smoothing;
  position: fixed;
  z-index: $z-index-max;
  bottom: 0;
  width: 100%;
  font-family: $font-stack;
  color: $text-color-primary;

  // THE DEFAULT FONT-SIZE !!! IMPORTANT FOR em !!!
  font-size: 18px;

  a {
    cursor: pointer;;
  }
}

/**
 * Wraps all our Oil content, eg. text and buttons
 */

.#{$prefix}oil-content-overlay {
  @include clearfix;
  position: absolute;
  width: 100%;
  bottom: 0;
  left: 0;
  padding: 2rem 5rem;
  background-color: rgba(40, 40, 40, 0.98);

  @include media('<=phone') {
    padding: 1rem;
  }

  @include media('>phone', '<desktop') {
    padding: 1.5rem 3rem;
  }
}

/**
 * Add gradient to expanded overlay
 *
 */

.#{$prefix}oil-has-gradient {
  &:before {
    content: "";
    position: absolute;
    pointer-events: none;
    width: 100%;
    height: 100%;
    top: -100%;
    left: 0;
    background-image: linear-gradient(rgba(255, 255, 255, 0), rgb(0, 0, 0));

    @include media('<=phone') {
      height: 50px;
      top: -50px;
    }

    @include media('>phone', '<desktop') {
      height: 50%;
      top: -50%;
    }
  }
}

/**
 * Text Styles
 *
 */

.#{$prefix}oil__heading {
  max-width: 840px;
  margin: 2rem 0;
  font-size: 2em;
  font-weight: 300;
  color: $text-color-secondary;
  line-height: 1.1875;

  &:first-of-type {
    margin-top: 0;
  }

  @include media('<=phone') {
    margin: 0.625rem 0;
    font-size: 1.125em;
  }
}

.#{$prefix}oil__intro-txt {
  max-width: 980px;
  margin: 1rem 0;
  font-size: 0.9375em;
  font-weight: 400;
  line-height: 1.4;
  color: $text-color-primary;

  @include media('<=phone') {
    margin: 1.5rem 0;
    font-size: 0.75em;
  }
}

.#{$prefix}oil__intro-txt--link {
  padding: 4px;
  color: $text-color-secondary;
  text-decoration: none;
  border-bottom: 1px solid;

  &:hover {
    color: darken($text-color-secondary, 10%);
  }
}

/**
 * Button Styles
 *
 */

// Mixins

@mixin btn-poi-soi-shared {
  min-width: 250px;
  min-height: 50px;
  margin: 0;
  padding: 0.5rem 1rem;
  font-size: 0.875em; // 14px
  font-weight: 400;
  border: none;
  border-radius: 3px;
  outline: none;
  cursor: pointer;

  @include media('<=phone') {
    width: 100%;
    min-width: auto;
    min-height: 40px;
    padding: 0;
  }

  @include media('>phone', '<desktop') {
    min-width: 160px;
    min-height: 40px;
  }
}

@mixin btn-poi {
  color: $text-color-dark;
  background-color: $btn-primary;
  background-image: linear-gradient(35deg, $btn-primary, rgb(70, 200, 100));
  border-color: transparent;

  &:hover {
    background-color: darken($btn-primary, 8%);
    background-image: linear-gradient(35deg, darken($btn-primary, 8%), darken(rgb(70, 200, 100), 8%));
  }
}

@mixin btn-soi {
  color: $text-color-primary;
  border: 2px solid $btn-primary;
  background-color: transparent;
  box-shadow: 0 2px 15px 0 rgba(0, 0, 0, 0.5);

  &:hover {
    color: $text-color-primary;
    border-color: darken($btn-primary, 8%);
    background-color: transparent;
  }
}

// Power Optin Button Declaration

.#{$prefix}oil__btn-poi {
  @include btn-poi-soi-shared;
  @include btn-poi;
}

// Site Optin Button Declaration

.#{$prefix}oil__btn-soi {
  @include btn-poi-soi-shared;
  @include btn-soi;
}

// Later Optin Button Declaration

.#{$prefix}oil__btn-loi {
  float: right;
  min-height: auto;
  margin: 0.75rem 0;
  padding: 4px;
  font-size: 14px;
  font-weight: 400;
  color: $text-color-secondary;
  text-decoration: none;
  background-color: transparent;
  border: none;
  border-bottom: 1px solid;
  border-radius: 0;
  cursor: pointer;

  &:hover {
    color: darken($text-color-secondary, 10%);
    background-color: transparent;
  }

  @include media('<=phone') {
    float: none;
    width: 100%;
    margin: 1rem 0; // We are vertically aligning this btn by using margins, which is a bit dirty
    font-size: 0.75em;
    border-bottom: none;
  }

  @include media('>phone', '<desktop') {
    // We are vertically aligning this btn by using margins, which is a bit dirty
    margin: 0.25rem 0;
  }
}

.#{$prefix}oil__btn-as {
  float: right;
  min-height: auto;
  margin: 0.75rem 0;
  padding: 4px;
  font-size: 14px;
  font-weight: 400;
  color: $text-color-secondary;
  text-decoration: none;
  background-color: transparent;
  border: none;
  border-bottom: 1px solid;
  border-radius: 0;
  cursor: pointer;

  &:hover {
    color: darken($text-color-secondary, 10%);
    background-color: transparent;
  }

  @include media('<=phone') {
    float: none;
    width: 100%;
    margin: 1rem 0; // We are vertically aligning this btn by using margins, which is a bit dirty
    font-size: 0.75em;
    border-bottom: none;
  }

  @include media('>phone', '<desktop') {
    // We are vertically aligning this btn by using margins, which is a bit dirty
    margin: 0.25rem 0;
  }
}

/**
 * Later Optin Overlay LOI
 *
 */

// Text styles

.#{$prefix}oil-loi__heading {
  margin: 1rem 0;
  font-size: 1.25em;
  font-weight: 300;
  color: $text-color-secondary;
  line-height: 1.1875;

  &:first-of-type {
    margin-top: 0;
  }

  @include media('<=phone') {
    margin: 0.625rem 2.25rem 0.625rem 0; // Make space to the right for our absolute positioned close button
    font-size: 1.125em;
  }
}

.#{$prefix}oil-loi__intro-txt {
  margin: 1rem 0;
  font-size: 0.875em;
  font-weight: 400;
  line-height: 1.4;
  color: $text-color-primary;

  &:first-of-type {
    margin-top: 0;
  }

  @include media('<=phone') {
    margin: 1.5rem 0;
    font-size: 0.75rem;
  }
}

/**
 * Button Styles
 *
 */

// Mixins

@mixin oil-loi-btn-poi-soi-shared {
  @include stack-items-remove-horizontal-margins;
  @include btn-poi-soi-shared;
  min-height: 40px;
  margin: 0.5rem 0;
}

@mixin oil-loi-btn-poi {
  @include btn-poi;
}

@mixin oil-loi-btn-soi {
  @include btn-soi;
}

// Loi Power Optin Button Declaration

.#{$prefix}oil-loi__btn-poi {
  @include oil-loi-btn-poi-soi-shared;
  @include btn-poi;
}

// Loi Site Optin Button Declaration

.#{$prefix}oil-loi__btn-soi {
  @include oil-loi-btn-poi-soi-shared;
  @include btn-soi;
}

/**
 * Layout Stuff
 *
 */

.#{$prefix}oil-l-row {
  margin: 2rem 0;

  &:last-of-type {
    margin-bottom: 0;
  }

  @supports (display: flex) {
    display: flex;
    align-content: center;
  }

  @include media('<=phone') {
    display: block;
    width: 100%;
  }
}

.#{$prefix}oil-l-row--fixed-width,
.#{$prefix}oil-l-wrapper-layout-max-width {
  max-width: $layout-max-width;
  margin: 0 auto;

  @include media('>phone', '<desktop') {
    padding-right: 1rem; // Make space for our absolute positioned close button
  }
}

.#{$prefix}oil-l-item {
  float: left; // Fallback for non flexbox capable browsers
  margin: 0 0.5rem;

  @supports (display: flex) {
    float: none;
  }

  &:first-of-type {
    margin-left: 0;
  }

  &:last-of-type {
    margin-right: 0;
  }

  @include media('<=phone') {
    @include stack-items-remove-horizontal-margins;
    width: 100%;
    margin: 1rem 0;
  }
}

.#{$prefix}oil-l-item--stretch {
  @supports (display: flex) {
    flex: 1 0 auto;
  }
}

/**
 * Close Button
 *
 */

.#{$prefix}oil-close {
  position: absolute;
  top: 1rem;
  right: 1rem;
  width: 1.5rem;
  height: 1.5rem;
  padding: 0.25rem;
  fill: rgb(255, 255, 255);
  opacity: 0.66;
  cursor: pointer;
  user-select: none;

  &:hover {
    fill: $text-color-secondary;
    opacity: 1;
  }
}

.#{$prefix}oil-icon-close {
  display: block;
  width: 0.875rem;
  height: 0.875rem;
}

.#{$prefix}slider-wrapper {
  display: inline-block;
  width: 20px;
  height: 150px;
  padding: 0;
}

/**
* NoUiSlider CSS and overrides
 */

@import "../../node_modules/nouislider/distribute/nouislider.css";

.#{$prefix}slider-wrapper {
  height: 180px;
  margin-top: 20px;
}

.#{$prefix}slider-desc {
  margin-left: 20px;
}

.#{$prefix}slider-option-title {
  font-size: 1.2em;
  font-weight: 400;
  line-height: 1.4;
  color: $text-color-secondary;
}

.#{$prefix}slider-option-verbose {
  font-size: 0.9375em;
  font-weight: 400;
  line-height: 1.4;
  color: $text-color-primary;
  margin-bottom: 20px;
}

.#{$prefix}slider-inactive {
  opacity: 0.4;
}

.#{$prefix}slider-active {
  opacity: 1.0;
}

